$black10-color: #f7f7f7;
$staking-info-color: #0b8de3;
$border: #e4e4e4;
$border-warning: #e44837;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

/* vote progress */
.vote-progress {
  margin: 0px 0px 30px 44px;
  padding-top: 25px;
  position: relative;
  width: 85%;
}
.vote-progress .ant-progress-show-info .ant-progress-outer {
  padding-right: 0 !important;
}
.vote-progress .progress-text {
  color: #1fc2a9;
  position: absolute;
  top: 12px;
  font-size: 12px;
}
.vote-progress .progress-bar {
  position: absolute;
  top: 30px;
  left: 18%;
  width: 7px;
}
.vote-progress .progress-bar-2 {
  position: absolute;
  top: 30px;
  left: 38%;
  width: 7px;
}
.vote-progress .ant-progress-inner {
  background-color: #e4e4e4 !important;
}
.vote-progress .ant-progress-bg {
  background: linear-gradient(to right, #e5d816, #25ceb7) !important;
}
.ant-select-auto-complete.ant-select .ant-select-selection--single {
  background: #f7f7f7;
}
.ant-select-selection-selected-value {
  font-size: 12px;
}

.vote-banner .ant-carousel {
  width: 100%;
  height: 100%;
  .slick-list,
  .slick-track,
  .slick-slide > div {
    height: 100%;
  }
  .slick-dots {
    bottom: -12px;
  }
}

.MyStakeInfo table {
  font-size: 12px;
  border-spacing: 0 8px !important;
  border-collapse: separate;
}
.MyStakeInfo .ant-table-thead > tr > th,
.MyStakeInfo .ant-table-tbody > tr > td {
  padding: 16px 2px;
}

.MyStakeInfo .ant-table-thead > tr > th {
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.MyStakeInfoAction .ant-dropdown-menu-item:hover,
.MyStakeInfoAction .ant-dropdown-menu-submenu-title:hover {
  background-color: $black10-color;
}
.BorderRowWarning > td {
  border-color: $border-warning !important;
}

.BorderTop {
  border-top: solid 1px $border;
}

.BorderLeft {
  border-left: solid 1px $border;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.BorderBottom {
  border-bottom: solid 1px $border;
}

.BorderRight {
  border-right: solid 1px $border;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.StakingLink {
  padding: 3px 0;
  color: #0b8de3;
  font-weight: bold;
  line-height: 1.36;
}

.mobileVotes .ant-list-header {
  background-color: #fafafa;
}

.BadgeRow {
  background-color: #f8fefe;
}

.BannerContainer::after {
  content: "";
  flex: auto;
}

.table_wrapper__votes_received .ant-table-content {
  overflow-x: auto;
}
